name: Deploy Gateway to EKS

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

env:
  DOCKERHUB_REPOSITORY: klurgs/fgc-gateway
  AWS_REGION: us-east-2
  EKS_CLUSTER_NAME: eks-fgc
  K8S_NAMESPACE: fgc

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Build
        run: dotnet build FIAPCloudGames.Gateway.sln --configuration Release

      - name: Test
        run: dotnet test FIAPCloudGames.Gateway.sln --configuration Release --no-build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ env.DOCKERHUB_REPOSITORY }}:${{ github.sha }}
          file: FIAPCloudGames.Gateway.Api/Dockerfile

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::471354727448:role/GitHubActionsEKSDeployRole
          aws-region: ${{ env.AWS_REGION }}

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region ${{ env.AWS_REGION }} \
            --name ${{ env.EKS_CLUSTER_NAME }}
      
      - name: Deploy to EKS
        run: |
          export IMAGE=${{ env.DOCKERHUB_REPOSITORY }}:${{ github.sha }}
          envsubst < kubernetes.yaml | kubectl apply -f -
          kubectl rollout status deployment/fiapcloudgames-api-gateway -n ${{ env.K8S_NAMESPACE }}
